.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post, .page {
  margin: -24px 0 0 0;
}

i {
  text-transform: lowercase;
}
.item h2 a, .item h2 {
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  margin: 40px;
}

/* .owl-carousel .owl-nav button.owl-prev span{
	font-size: 0;
	width: 18px;
	height: 53px;
	background-image: url(/assets/images/nav-arrow.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 18px 53px;
	display: inline-block;
	transform: rotate(180deg);
} */