.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom css */

.post,
.page {
  margin: -24px 0 0 0;
}

i {
  text-transform: lowercase;
}

/* banner text  */

.item h2 a,
.item h2 {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  margin: 00px;
}

/* slider */

/* .owl-carousel .owl-nav button.owl-prev span {
  font-size: 0;
  width: 18px;
  height: 53px;
  background-image: url(./images/nav-arrow.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px 53px;
  display: inline-block;
  transform: rotate(180deg);
}

.owl-carousel .owl-nav button.owl-next span {
  font-size: 0;
  width: 18px;
  height: 53px;
  background-image: url(./images/nav-arrow.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px 53px;
  display: inline-block;
} */

nav.navbar.navbar-expand-lg.navbar-light.bg-light a {
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header.mainheaderSec {
    display: none;
  }
  footer.footer {
    display: block;
  }

  .paragraph-section {
    top: 300px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header.mainheaderSec {
    display: none;
  }

  .paragraph-section {
    top: 300px;
  }

  footer.footer {
    display: block;
  }
}

@media (max-width: 767px) {
  footer.footer {
    display: block !important;
  }
  .postimagegallery ul li img {
    max-height: 320px;
    object-fit: contain;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header.mainheaderSec {
    display: none;
  }

  .paragraph-section {
    top: 300px;
  }

  footer.footer {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    display: none;
  }

  header.mainheaderSec {
    display: block;
  }

  .paragraph-section {
    top: 20px;
  }
  .m-hero {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    display: none;
  }

  header.mainheaderSec {
    display: block;
  }

  .paragraph-section {
    top: 20px;
  }

  .m-hero {
    display: none;
  }

}
@media only screen and (min-width: 1200px) and (max-width: 1900px) {
  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    display: none;
  }
  header.mainheaderSec {
    display: block;
  }

  .paragraph-section {
    top: 20px;
  }

  .m-hero {
    display: none;
  }
  
}

.navbar-nav-scroll {
  max-height: max-content !important;
}

header.mainheaderSec {
  z-index: 99999;
}

/* construction page */

.museums a:hover {
  background-color: #f0f0f0;
  color: #555;
}

.paragraph-section {
  min-width: 200px !important;
  max-width: 800px !important;
}

.museums .fullscreenslider {
}

.sha {
  background: transparent;
}
.m-logo {
  background: rgb(175, 172, 172);
}

.navbar {
  background: rgb(175, 172, 172);
}

.search_sec .search_form {
  margin: 20px;
}
.accordion-item a {
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.accordion {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

button.accordion-button.collapsed {
  font-size: 14px;
}
button.accordion-button {
  font-size: 14px;
}
.accordion-body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
a.carousel-control-prev {
  margin-left: -50px;
}