/*  ================================== custom css ============================== */
body,
button,
input,
select,
optgroup,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {

  /* font-family: "Gothic A1", sans-serif !important; */
  /* font-family: 'Nanum Gothic Coding', monospace !important; */
  font-family: "Roboto", sans-serif;
}

a:active {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-style: none !important;
}
a {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-style: none !important;
}


/* banner text  */
.item h2 a,
.item h2 {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  margin: 00px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light a {
  text-decoration: none;
}

.navbar-nav-scroll {
  max-height: max-content !important;
}

header.mainheaderSec {
  z-index: 99999;
}

/* construction page */

.museums a:hover {
  background-color: #f0f0f0;
  color: #555;
}

.sha {
  background: transparent;
}
.m-logo {
  background: rgb(175, 172, 172);
}

.navbar {
  background: rgb(175, 172, 172);
}

.search_sec .search_form {
  margin: 20px;
}
.accordion-item a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.accordion {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

button.accordion-button.collapsed {
  font-size: 14px;
}
button.accordion-button {
  font-size: 14px;
}
.accordion-body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.single-carousel-out a.carousel-control-next {
  margin-right: -50px;
}

.single-carousel-out a.carousel-control-prev:hover,
.single-carousel a.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: 800;
}

/* table menu  */

.h-menu {
  position: fixed;
  bottom: 30px;
  right: 240px;
  display: table;
  width: 900px;
  z-index: 99999;
}

tbody.r-width tr td {
  width: 70px;
  max-width: max-content;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  padding: 2px;
  /* background-color: rgba(0, 0, 0, 0.1) !important; */
}

table.table.table-bordered {
  color: #fff;
}

.h-menu tr {
  border: 0px solid transparent;
}

td.fr-1,
.fr-2,
.sr-1,
.sr-2,
.sr-3 {
  /* background-color: rgba(0, 0, 0, 0.2) !important; */
}

td.fr-blank0 {
  background-color: transparent !important;
  border: 0px solid #fff !important;
}

td.fr-blank {
  border-top: 0px solid transparent !important;
  background-color: transparent !important;

}
td.fr-blank2 {
  border: 0px solid transparent !important;
  background-color: transparent !important;
}
td.fr-blank3 {
  border: 0px solid transparent !important;
  background-color: transparent !important;
}

td.sr-blank {
  border: 0px solid !important;
  background-color: transparent !important;
}

td.sr-blank2 {
  border: 0px solid transparent !important;
  background-color: transparent !important;
}

tbody.r-width a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
}

.menu li button {
  text-transform: capitalize;
}

tbody.r-width a:hover {
  color: #0c0c0c;
  text-decoration: none;
  text-transform: capitalize;
  
}

/* .table-responsive {
  position: relative;
} */

.top-menuitem {
  border: 1px solid #ffffff !important;
  width: 135px;
  height: 31px;
  margin: 1px 0 -30px 701px;
}

.top-menuitem1 {
  border: 1px solid #ffffff !important;
  width: 120px;
  height: 31px;
  margin: 0px 0px -86px 582px;
}

.top-menuitem2 {
  border: 1px solid #ffffff !important;
  width: 202px;
  height: 35px;
  margin: 20px 0px 0px 500px;
}



/* logo */

.h-logo {
  position: fixed;
  top: 40px;
  right: 50px;
  z-index: 999999999;
}

.h-social {
  position: fixed;
  top: 200px;
  right: 60px;
  z-index: 99999;
}

.social-icon a img {
  width: 15px;
  height: 15px;
  text-decoration: none;
}
.h-social li {
  list-style: none;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 3px;
  margin: 15px 0;
  line-height: 15px;
}

/* content body */

.menu {
  position: relative;
  height: 430px;
  margin-bottom: 20px;
  padding: 4px;
  margin: 0;
  list-style: none;
  top: 230px;
}

.menu button {
  background-color: transparent;
  border: 0px solid transparent;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
  margin: 5px;
}

.titleSec a {
  font-size: 12px;
  text-decoration: none;
  color: #fff !important;
  font-weight: 300;
}

.titleSec h2 {
  line-height: 1;
  font-size: inherit;
}

.active {
  font-weight: bold;
  background-color: #2c2c2c !important;
}
.single-project {
  margin: 3px 0px 0px 0px;
  padding: 50px;
  z-index: 9999999;
}

.body-content {
  margin: 5px 0px;
  padding: 70px;
}

.bgcommanSec {
  background-size: cover;
  width: 100%;
  display: flex;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  height: 100%;
  z-index: -1;
}

.single-project .body-content {
  margin-top: -60px;
}

.histoy {
  z-index: 9999999;
}

.pratice-content {
  width: 100%;
  margin: 40px 0px;
  padding: 10px;
}

.about {
  margin: 40px 0px;
  padding: 20px;
}

.about .sub-paragraph, .office .sub-paragraph {
  max-width: 100%;
}

.contact .body-content {
  margin: 10px 0px;
  padding: 10px;
}
.contact .sub-paragraph {
  max-width: 100%;
}
.contact {
  z-index: 999999999999999999999;
}
.DevCompany a {
  text-decoration: none;
  color: green;
}
.DevCompany p {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-style: oblique;
}

.contact-add {
  background-color: #040404ad;
  color: #fff;
  text-align: center;
  padding: 5px;
  margin: 15px 0;
}
.contact-add p {
  padding: 0px;
  margin: 0px;
}

.contact-add a {
  text-decoration: none;
  color: #fff;
}

.contact-add a:hover {
  color: #ffffff;
}


.history{
  max-width: 100%;
}

.pratice-menu a {
  color: #000;
  text-decoration: none;
}

.pratice-menu .active {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  background-color: transparent !important;
}

.menu-active {
  color: #141414 !important;
  font-weight: 900;
  background-color: #04000030;
  width: max-content;
}

.col-sm-4.col-md-4.col-lg-4.history {
  color: #fff;
}

.history p {
  line-height: initial;
  font-size: 14px;
}


ul.menu li button, ul.menu li button a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 14px;
}
.single-people p{
  color: #fff;
}

.people-menu a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 14px;
}

.visible {
  visibility: visible;
}

.hidden {
  /* visibility: hidden; */
  display: none;
}




















/* ================ Responsive ================  */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .h-menu,
  .h-logo,
  .h-social,
  header.mainheaderSec {
    display: none !important;
  }

  .paragraph-section {
    top: 100px;
  }

  .single-carousel-out {
    display: none;
  }

  .body-content {
    margin: 45px 0px;
    padding: 70px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
  background-color: rgba(0,0,0, .1) !important;
}

.m-nav a {
  color: #fff;
}
.col-sm-12.col-md-12.col-lg-12.colleagues {
  margin-top: -188px;
  z-index: 111;
}


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .h-menu,
  .h-logo,
  .h-social,
  header.mainheaderSec {
    display: none;
  }

  .paragraph-section {
    top: 100px;
  }


  .body-content {
    margin: 45px 0px;
    padding: 70px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
  background-color: rgba(0,0,0, .1) !important;
}

.m-nav a {
  color: #fff;
}

/* .col-sm-12.col-md-12.col-lg-12.colleagues {
  margin-top: -188px;
  z-index: 111;
} */


}

@media (max-width: 767px) {
  footer.footer {
    display: block !important;
  }
  .postimagegallery ul li img {
    max-height: 320px;
    object-fit: contain;
  }
  .paragraph-section {
    top: 100px;
  }

  .body-content {
    margin: 45px 0px;
    padding: 70px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
  background-color: rgba(0,0,0, .1) !important;
}

.m-nav a {
  color: #fff;
}

/* .col-sm-12.col-md-12.col-lg-12.colleagues {
  margin-top: -188px;
  z-index: 111;
} */

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .h-menu,
  .h-logo,
  .h-social,
  header.mainheaderSec {
    display: none;
  }

  .paragraph-section {
    top: 100px;
  }

  footer.footer {
    display: block;
  }

  .body-content {
    margin: 20px 0px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
  background-color: rgba(0,0,0, .1) !important;
}

.m-nav a {
  color: #fff;
}

/* .col-sm-12.col-md-12.col-lg-12.colleagues {
  margin-top: -188px;
  z-index: 111;
} */


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    display: none;
  }

  .h-menu,
  .h-logo,
  .h-social,
  header.mainheaderSec {
    display: block;
  }

  .paragraph-section {
    top: 20px;
  }
  .m-hero {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    display: none;
  }

  .h-menu,
  .h-logo,
  .h-social,
  header.mainheaderSec {
    display: block;
  }

  .paragraph-section {
    top: 20px;
  }

  .m-hero {
    display: none;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1900px) {
  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    display: none;
  }
  .h-menu,
  .h-logo,
  .h-social,
  header.mainheaderSec {
    display: block;
  }

  .paragraph-section {
    top: 20px;
  }

  .m-hero {
    display: none;
  }
}

.navbar-toggler::after{
  
}

.navbar-toggler-icon {
  
  background-image: url(./images/close.gif) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}



.m-nav a:visited {
  /* color: #000000; */
}

.m-nav .navbar-nav a a .active2 {
  background-color: transparent !important;
  font-weight: bold;
}
.m-nav .active {
  font-weight: bold;
  background-color: transparent !important;
  color: #000;
}

.colleagues{
  z-index: 9999999999999999999;
}